<div style="height: 100vh; margin: 0; padding: 0;">
    <p-panel  header="Panel General">
      <div class="grid">
        <div class="col">
          <p-panel header="Gráficas">
            <p-tabView>
              <p-tabPanel header="Temperaturas">
                <dashboard-temperatures-graph></dashboard-temperatures-graph>
              </p-tabPanel>
              <p-tabPanel header="MWh">
                <dashboard-prices-graph></dashboard-prices-graph>
              </p-tabPanel>
            </p-tabView>
          </p-panel>
        </div>
        <div class="col">
          <p-panel header="Resumen de datos">
            <dashboard-general-table></dashboard-general-table>
          </p-panel>
        </div>
      </div>
    </p-panel>
  </div>