<div style="height: 100vh;">
  <p-panel header="Panel General" class="h-full">
    <div class="grid">
      <div class="col p-2 h-full">
        <p-panel header="Gráficas">
          <p-tabView>
            <p-tabPanel header="Temperaturas">
              <dashboard-temperatures-graph></dashboard-temperatures-graph>
            </p-tabPanel>
            <p-tabPanel header="MWh">
              <dashboard-prices-graph></dashboard-prices-graph>
            </p-tabPanel>
          </p-tabView>
        </p-panel>
      </div>
      <div class="col p-2 h-full">
        <p-panel header="Resumen de datos">
          <dashboard-general-table></dashboard-general-table>
        </p-panel>
      </div>
    </div>
  </p-panel>
</div>