<p-calendar
  [maxDate]="maxDate"
  (ngModelChange)="onDateChange($event)"
  [(ngModel)]="date"
  [defaultDate]="maxDate"
  [showIcon]="true"
  dateFormat="yy-m-d"
  placeholder="Select date">
</p-calendar>
<div class="mt-4 flex">
  <label [ngStyle]="{'color' : date < maxDate ? 'grey' : 'white'}" for="switch1" class="justify-content-center mr-3">Mostrar Precio</label>
  <p-inputSwitch [disabled]="date < maxDate" inputId="switch1" (onChange)="onSwitchChange()" [(ngModel)]="checked"></p-inputSwitch>
</div>
<p-table
  styleClass="p-datatable-gridlines p-datatable-striped"
  [value]="registros"
  [paginator]="true"
  [rows]="6"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem', 'margin-top': '15px', 'min-height': '33.2rem' }"
  >
  <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="hora">Hora<p-sortIcon field="hora"></p-sortIcon></th>
        <th pSortableColumn="temperatura">Temperatura<p-sortIcon field="temperatura"></p-sortIcon></th>
        <th *ngIf="checked">Precio MWh (€)</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.hora }}</td>
        <td [ngClass]="{'lowTemp': item.temperatura < 5, 'midTemp': (item.temperatura >= 5 && item.temperatura < 15),'highTemp': item.temperatura >= 15}" >{{ item.temperatura }}º</td>
        <td *ngIf="checked"> <p-tag [severity]="priceRange(item.precioMWH)" value="{{ item.precioMWH }}€"></p-tag></td>
      </tr>
  </ng-template>
</p-table>
