<!-- <div style="height: 100vh; margin: 0; padding: 0;">
  <p-panel  header="Panel General">
    <div class="grid">
      <div class="col">
        <p-panel header="Gráficas">
          <p-tabView>
            <p-tabPanel header="Temperaturas">
              <aemet-graph></aemet-graph>
            </p-tabPanel>
            <p-tabPanel header="MWh">
              <redos-graph></redos-graph>
            </p-tabPanel>
          </p-tabView>
        </p-panel>
      </div>
      <div class="col">
        <p-panel header="Resumen de datos">
          <mixed-table></mixed-table>
        </p-panel>
      </div>
    </div>
  </p-panel>
</div> -->
<dashboard></dashboard>