<div class="flex flex-column h-full justify-content-center align-items-center text-align-center ">
    <h1>Proyecto Final</h1>
    <!-- <p>Desliza hacia abajo para ver el panel principal</p> -->
    <!-- <span onclick="window.scrollTo({ top: 1500, behavior: 'smooth'})" class="mt-4 slidedown-icon h-2rem w-2rem bg-primary-reverse border-circle inline-flex align-items-center justify-content-center">
        Click here to go<i class="pi pi-arrow-down"></i>
    </span> -->
    <p-button onclick="window.scrollTo({ top: 1500, behavior: 'smooth'})" class="mt-4 slidedown-icon  bg-primary-reverse border-circle inline-flex align-items-center justify-content-center" label="Go" icon="pi pi-arrow-down" [rounded]="true"></p-button>
</div>
<div class="h-20rem"></div>
<div pAnimateOnScroll enterClass="flipup" leaveClass="fadeout" class="shadow-4 animation-duration-500">
<dashboard></dashboard>
</div>
  
